body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 100px;
    padding: 100px;
}

.title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #d2d0d0;
}

h1 {
    color: #d2d0d0;
}